.header{
    display: flex;
    align-items: center;
}
.header_links{
    display: flex;
    align-items: center;
    margin-left: 55%; 
}
.header_links .header_h2{
    padding-left: 20px;
    color: #17acf1;
}
.header_links .links{
    text-decoration: none;
    color: rgba(19, 17, 17, 0.781);
}
.results{
    text-align: center;
}
.table{
    margin: auto;
    width: 50%;
}
.row{
    margin-bottom: 5%;
}